@{
    Layout = null;

}
 <!DOCTYPE html>

<html>
<head>
    <meta name=" viewport" content="width=device-width" />
    <title>EndExam</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1 style="text-align:center">Exam End ! Thank you !! </h1><br />

        <h2 style="text-align:center">Your Score is @TempData["score"] </h2>
    </div>
</body>

    }


</html>
