@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Exam</title>
</head>
<body>
    <div>
        <h1>Enter Room Number</h1>
        <input type="text" id="room" name="room" placeholder="Room Number" class="form-control" />
        <input type="submit" value="Submit" class="btn btn-info" />
    </div>
</body>
</html>

